.navbar .navbar-brand {
    width: 80px;
}

.navbar .cart-logo {
    width: 10px;
}

.navbar .icons a:hover {
    text-decoration: none;
}

.navbar .icons .cart-logo:hover .fas {
    filter:brightness(50%);
}

.products-area .container-fluid .grid .grid-item {
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.products-area .container-fluid .grid img {
    width: 120px;
}

.products-area .container-fluid .item {
    width: 300px;
}

.ff-andada {
    font-family: 'Andada Pro', serif;
}

.ff-cookie {
    font-family: 'Cookie', cursive;
}

.green-bg {
    background-color: rgb(1, 252, 252);
}

.white-bg {
    background-color: white;
}

.black-bg {
    background-color:black;
}

.black-color {
    color: black;
}

.white-color {
    color: white;
}

.gray-color {
    color: gray;
}