.product a{
      color: black;
      text-decoration: none;
}

.product a:hover .frame{
      background: rgba(255, 255, 255, 0.849);
      border-color: rgb(255, 118, 202);
}

.product .products img
{
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
}

.product .frame {
      margin-right: 1.7rem;
      margin-top: 1rem;
      width: 22%;
      border: 1px solid;
      border-color: gray;
      background: rgba(255, 255, 255, 0.438);
}