.most-buy .grid .products img
{
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
}

.most-buy .grid .grid-item {
      margin-right: 1.5rem;
      margin-top: 1rem;
      width: 22%;
}

  